{% extends "templates/web.html" %} {% block page_content %}
<h1>{{ title }}</h1>
<h2>Flight Details</h2>
<ul>
    <li>
        {% set airplane_doc = frappe.get_doc('Airplane', airplane) %}
        Airline: {{ airplane_doc.airline }}
    </li>
  <li>{{ doc.source_airport_code }} -> {{ doc.destination_airport_code }}</dliiv>
  <li>
    {{ frappe.format_date(doc.date_of_departure) }} | {{ doc.time_of_departure
    }}
  </li>
  <li>
    Duration: {{ frappe.utils.format_duration(doc.duration) }}
</li>
  <br />
</ul>
<a
  href="/flight-ticket-web-form/new?flight={{ airplane }}&flight_price={{ 11000 }}"
  class="btn btn-primary"
  style="background-color: blue;"
  >Book Flight</a
>

{% endblock %}

<!-- this is a sample default web page template -->
